/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: white;
}

.App-body {
  background-color: #282c34;
}

body {
  background-color: #282c34;
} */

@media (min-width: 320px) {
  /* Typical iPhone reso: 414 x 900ish*/
  .App {
    text-align: center;
    height: 100vh;
  }

  .App-header {
    background-color: #282c34;
    height: 12vh;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    color: white;
    z-index: +2;
  }
  
  body {
    background-color: #282c34;
  }

  .App-body {
    top: 0vh;
    background-color: #282c34;
  }
  
  .WordleTile {
    width: 12vw;
    height: 12vw;
    font-size: 7vw;
    color: white;
    /* text-align: justify; */
    padding-left: 3.5vw;
  }

  .rowSelectButton {
    width: 12vw;
    height: 12vw;
    font-size: 7vw;
    padding-left: 3.5vw;
    /* justify-content: left; */
    /* text-align: left; */
    /* background-color: #282c34; */
    color: white;
  }
  
  /* #RowSelector {
    position: absolute;
    left: 10vw;
    top: 7vh;
    color: white;
    border-spacing: 0vh;
  } */

  #RowSelectorButtonTable {
    position: absolute;
    left: 8.5vw;
    top: 7vh;
    color: white;
    border-spacing: 0vh;
  }

  /* #RowSelectorButtonTable {
    /* border: 1px; */
    /* border-spacing: 3px; */
    /* border-spacing: 1vh; */
  /* } */

  #WordleGridTable {
    position: absolute;
    top: 7vh;
    left: 9vw;
    border-spacing: 0vh;
  }
  
  #main-container {
    position: absolute;
    top: 10vh;
    background-color: #282c34;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  #GuessBox {
    position: absolute;
    left: 33vw;
    top: 50vh;
    width: 40vw;
    font-size: 3vh;
    color: white;
  }
  
  #GuessTextBox {
    position: absolute;
    font-size: 3vh;
    width: 35vw;
    left: -1vw;
    top: 7vh;
  }
  
  #GuessSubmitButton {
    position: absolute;
    font-size: 3vh;
    top: 14vh;
    left: 6vw;
  }
  
  #RewordleContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* padding-left: 38.8%; */
  }
  
  #CompletedBox {
    position: absolute;
    left: 32vw;
    top: 69vh;
    width: 40vw;
    color: white;
    font-size: 3.5vh;
  }

  #goHomeAfterPlayButton {
    position: absolute;
    left: 32vw;
    top: 79vh;
    font-size: 3vh;
  }
  
  /* #StrikesBox {
    position: absolute;
    left: 165px;
    top: 460px;
    font-size: medium;
    color: white;
  } */
  
  .ChooseButton {
    font-size: 2.5vh;
    height: 13vh;
    width: 25vw;
  }
  
  #InputChoiceButton {
    position: absolute;
    left: 23vw;
    top: 3vh;
  }

  #PlayChoiceButton {
    position: absolute;
    left: 51vw;
    top: 3vh;
  }
  
  /* WordleInput components */
  #WordleInputComponent {
    position: absolute;
    left: 3vw;
    color: white;
    font-size: 2.5vh;
  }
  #inputBox {
    position: absolute;
    left: 0vw;
    top: 12.5vh;
    font-size: 2.5vh;
  }
  
  #inputSubmitButton {
    position: absolute;
    /* left: 40px; */
    left: 10vw;
    top: 18.5vh;
    font-size: 2.5vh;
    width: 24vw;
  }
  
  #inputPrompt {
    position: absolute;
    left: 0vw;
    top: 6.8vh;
    width: 35vw;
    color: white;
  }
  
  #inputSubmitAllButton {
    position: absolute;
    left: 10vw;
    top: 26.5vh;
    font-size: 2.5vh;
    width: 24vw;
  }

  #pastGuessTable {
    position: absolute;
    left: 55vw;
    width: 40vw;
    top: 10vh;
    font-size: 2.5vh;
    text-align: left;
    color: whitesmoke;
  }
  
  #enterGuessBox {
    position: absolute;
    left: -1.5vw;
    width: 80vw;
    font-size: 2.5vh;
  }

  #goHomeInputButton {
    position: absolute;
    left: 10vw;
    top: 34.5vh;
    width: 24vw;
    font-size: 2.5vh;
  }
  
  #WordleLinkComponent {
    font-size: 4vh;
    color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0vw;
  }

  #RewordleCodeComponent {
    font-size: 4vh;
    color: white;
    text-align: left;
    position: absolute;
    left: 2vw;
    width: 80vw;
    word-wrap: break-word;
  }

  /* Might need work in future */
  #copyClipboardButton {
    position: absolute;
    font-size: 2.5vh;
    left: 2vw;
    top: 28vh;
  }
  
  #goToHomePageButton {
    position: absolute;
    top: 35vh;
    left: 2vw;
    font-size: 2.5vh;
  }
  /* Other stuff */
  #linkInputBox {
    position: absolute;
    top: 10vh;
    left: 3.5vw;
    width: 64vw;
    font-size: 3.35vh;
  }
  
  #linkInputText {
    position: absolute;
    left: 4.5vw;
    /* font-size: x-large; */
    font-size: 3.35vh;
    color: white;
  }
  
  #openLinkButton {
    position: absolute;
    font-size: 3.35vh;
    left: 75.25vw;
    top: 10vh;
  }
  
  #otherGoHomeButton {
    position: absolute;
    top: 20vh;
    left: 25vw;
    font-size: 3.35vh;
  }
}

@media (min-width:961px) {
  .App {
    text-align: center;
    height: 100vh;
  }
  
  .App-header {
    background-color: #282c34;
    /* min-height: 10vh; */
    /* display: flex; */
    /* flex-direction: column; */
    height: 10vh;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    color: white;
  }
  
  .App-body {
    background-color: #282c34;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 15vh;
    align-items: center;
  }
  
  body {
    background-color: #282c34;
    height: 100vh;
  }
  
  .WordleTile {
    width: 7vh;
    height: 7vh;
    font-size: xx-large;
    padding-left: 3px;
    color: white;
  }

  .rowSelectButton {
    width: 7vh;
    height: 7vh;
    font-size: 5vh;
    padding-left: 3px;
    color: white;
  }
  
  #main-container {
    position: relative;
    padding-left: 0%;
    background-color: #282c34;
    width: 100vw;
    height: 100vh;
  }
  
  #GuessBox {
    position: absolute;
    left: 59.3vw;
    top: -10vh;
    width: 15vw;
    font-size: xx-large;
    color: white;
  }
  
  #GuessTextBox {
    position: absolute;
    font-size: xx-large;
    width: 10vw;
    top: 10vh;
    left: 1vw;
  }
  
  #GuessSubmitButton {
    position: absolute;
    font-size: xx-large;
    top: 17vh;
    left: 1vw;
  }
  
  #RewordleContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  
  #WordleGridTable {
    position: absolute;
    top: -10vh;
    left: 38vw;
    border-spacing: 0.15vh;
  }
  
  #CompletedBox {
    position: absolute;
    left: 55vw;
    top: 10vh;
    width: 20vw;
    height: 20vh;
    color: white;
    font-size: xx-large;
  }
  
  /* #StrikesBox {
    position: absolute;
    left: 67.5%;
    top: 200px;
    font-size: xx-large;
    color: white;
  } */

  #goHomeAfterPlayButton {
    position: absolute;
    left: 60vw;
    top: 23.5vh;
    font-size: xx-large;
  }
  
  .ChooseButton {
    font-size: xx-large;
  }
  
  #InputChoiceButton {
    position: absolute;
    left: 39.5vw;
    top: -5vh;
    height: fit-content;
    width: 10vw;
  }

  #PlayChoiceButton {
    position: absolute;
    left: 50.5vw;
    width: 9vw;
    top: -5vh;
    height: fit-content;
  }
  
  /* Wordle Input Components */
  #WordleInputComponent {
    color: white;
    font-size: x-large;
    width: 50vw;
    height: 100vh;
    left: 25vw;
    top: -5vh;
  }

  #pastGuessTable {
    position: absolute;
    left: 14vw;
    top: 17vh;
    font-size: xx-large;
    width: fit-content;
    color: white;
  }
  
  #inputBox {
    position: absolute;
    left: 14vw;
    top: 8vh;
    width: 19vw;
    font-size: x-large;
  }
  
  #inputSubmitButton {
    position: absolute;
    left: 14vw;
    top: 12.5vh;
    font-size: x-large;
    width: 9vw;
  }

  #inputSubmitAllButton {
    position: absolute;
    left: 49.5vh;
    top: 12.5vh;
    font-size: x-large;
    width: 10vw;
  }
  
  #inputPrompt {
    position: absolute;
    left: 13.5vw;
    width: 20vw;
    top: -1vh;
    color: white;
    font-size: xx-large;
  }

  #goHomeInputButton {
    position: absolute;
    left: 37vw;
    top: 7.5vh;
    font-size: large;
    width: 10vw;
  }
  
  #enterGuessBox {
    position: absolute;
    left: 10vw;
    top: -10vh;
    width: 30vw;
    font-size: xx-large;
  }
  
  #WordleLinkComponent {
    position: absolute;
    left: 31vw;
    top: -10vh;
    width: 35vw;
    font-size: xx-large;
    color: white;
  }

  #copyClipboardButton {
    position: absolute;
    left: 7vw;
    top: 16vh;
    font-size: x-large;
  }

  #goToHomePageButton {
    position: absolute;
    left: 20vw;
    top: 16vh;
    font-size: x-large;
  }
  
  #linkInputBox {
    position: absolute;
    left: 39.5vw;
    top: -5vh;
    width: 20vw;
    font-size: xx-large;
  }
  
  #linkInputText {
    position: absolute;
    left: 41vw;
    top: -15vh;
    font-size: xx-large;
    color: white;
  }
  
  #openLinkButton {
    position: absolute;
    left: 61vw;
    top: -5vh;
    font-size: xx-large;
  }
  
  #otherGoHomeButton {
    position: absolute;
    top: 2.5vh;
    left: 44vw;
    font-size: xx-large;
  }
}