.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
}

body {
  background-color: #282c34;
}

.WordleTile {
  width: 70px;
  height: 70px;
  font-size: xx-large;
  color: white;
}

#main-container {
  position: relative;
  padding-left: 38.80%;
  background-color: #282c34;
}