/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: white;
}

.App-body {
  background-color: #282c34;
}

body {
  background-color: #282c34;
} */

@media (min-width: 320px) {
  .App-header {
    background-color: #282c34;
    min-height: 30px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: white;
    z-index: +2;
  }
  
  body {
    background-color: #282c34;
  }

  .App-body {
    top: 0px;
    background-color: #282c34;
  }
  
  .WordleTile {
    width: 40px;
    height: 40px;
    font-size: large;
    color: white;
    padding-left: 13px;
  }
  
  #main-container {
    position: absolute;
    top: 70px;
    background-color: #282c34;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  #GuessBox {
    position: absolute;
    left: 140px;
    top: 350px;
    width: 150px;
    font-size: medium;
    color: white;
  }
  
  #GuessTextBox {
    position: absolute;
    font-size: medium;
    width: 130px;
    left: -8px;
    top: 40px;
  }
  
  #GuessSubmitButton {
    position: absolute;
    font-size: medium;
    top: 80px;
    left: 23px;
  }
  
  #RewordleContainer {
    position: absolute;
    width: 300px;
    height: 80%;
    padding-left: 38.8%;
  }
  
  #WordleGridTable {
    position: absolute;
    top: 77px;
    left: 100px;
    border: 1px;
    border-spacing: 3px;
  }
  
  .rowSelectButton {
    width: 40px;
    height: 40px;
    font-size: large;
    padding-left: 13.5px;
    /* background-color: #282c34; */
    color: white;
  }
  
  #RowSelector {
    position: absolute;
    left: 54px;
    top: 76px;
    color: white;
  }

  #RowSelectorButtonTable {
    /* border: 1px; */
    border-spacing: 3px;
  }
  
  #CompletedBox {
    position: absolute;
    left: 160px;
    top: 460px;
    width: 100px;
    height: 30px;
    opacity: 100%;
    color: white;
    font-size: medium;
  }

  #goHomeAfterPlayButton {
    position: absolute;
    left: 130px;
    top: 530px;
    font-size: medium;
  }
  
  /* #StrikesBox {
    position: absolute;
    left: 165px;
    top: 460px;
    font-size: medium;
    color: white;
  } */
  
  .ChooseButton {
    font-size: large;
    height: 100px;
    width: 100px;
  }
  
  #InputChoiceButton {
    position: absolute;
    left: 100px;
    top: 20px;
  }

  #PlayChoiceButton {
    position: absolute;
    left: 220px;
    top: 20px;
  }
  
  /* WordleInput components */
  #WordleInputComponent {
    position: absolute;
    left: 10px;
    color: white;
    font-size: large;
  }
  #inputBox {
    position: absolute;
    left: -2px;
    top: 85px;
    font-size: large;
  }
  
  #inputSubmitButton {
    position: absolute;
    left: 40px;
    top: 130px;
    font-size: large;
  }
  
  #inputPrompt {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 150px;
    color: white;
  }
  
  #inputSubmitAllButton {
    position: absolute;
    left: 40px;
    top: 190px;
    font-size: large;
  }

  #pastGuessTable {
    position: absolute;
    left: 230px;
    width: 175px;
    top: 60px;
    font-size: large;
    color: whitesmoke;
  }
  
  #enterGuessBox {
    position: absolute;
    left: 0px;
    width: 400px;
  }

  #goHomeInputButton {
    position: absolute;
    left: 40px;
    top: 250px;
    width: 100px;
    font-size: large;
  }
  
  #WordleLinkComponent {
    font-size: x-large;
    color: white;
    width: 300px;
    height: 400px;
    position: absolute;
    left: 10px;
  }

  /* Might need work in future */
  #copyClipboardButton {
    position: absolute;
    top: 130px;
    font-size: medium;
  }
  
  #goToHomePageButton {
    position: absolute;
    top: 180px;
    font-size: medium;
  }
  /* Other stuff */
  #linkInputBox {
    position: absolute;
    top: 70px;
    left: 15px;
    width: 250px;
    font-size: x-large;
  }
  
  #linkInputText {
    position: absolute;
    left: 20px;
    font-size: x-large;
    color: white;
  }
  
  #openLinkButton {
    position: absolute;
    font-size: x-large;
    left: 310px;
    top: 70px;
  }
  
  #otherGoHomeButton {
    position: absolute;
    top: 180px;
    left: 100px;
    font-size: x-large;
  }
}

@media (min-width:961px) {
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: white;
  }
  
  .App-body {
    background-color: #282c34;
    height: auto;
  }
  
  body {
    background-color: #282c34;
    height: 1000px;
  }
  
  .WordleTile {
    width: 70px;
    height: 70px;
    font-size: xx-large;
    padding-left: 3px;
    color: white;
  }
  
  #main-container {
    position: relative;
    padding-left: 0%;
    background-color: #282c34;
    width: 100%;
    height: 100%;
  }
  
  #GuessBox {
    position: absolute;
    left: 65%;
    top: 30%;
    width: 20%;
    font-size: xx-large;
    color: white;
  }
  
  #GuessTextBox {
    position: relative;
    font-size: xx-large;
    width: 60%;
    top: -5%;
  }
  
  #GuessSubmitButton {
    position: absolute;
    font-size: xx-large;
    top: 110%;
    left: 30%;
  }
  
  #RewordleContainer {
    position: absolute;
    width: 50%;
    height: 50%;
    padding-left: 38.8%;
  }
  
  #WordleGridTable {
    position: absolute;
    top: -32%;
    left: 45%;
  }
  
  .rowSelectButton {
    width: 70px;
    height: 70px;
    font-size: xxx-large;
    /* background-color: #282c34; */
    padding-left: 3px;
    color: white;
  }
  
  #RowSelector {
    position: relative;
    left: -6%;
    top: -10%;
    color: white;
  }
  
  #CompletedBox {
    position: absolute;
    left: 64%;
    top: 250px;
    width: 20%;
    height: 20%;
    background-color: black;
    border: black;
    opacity: 100%;
    color: white;
    font-size: xx-large;
  }
  
  #StrikesBox {
    position: absolute;
    left: 67.5%;
    top: 200px;
    font-size: xx-large;
    color: white;
  }

  #goHomeAfterPlayButton {
    position: absolute;
    left: 48.75%;
    top: 480px;
    font-size: xx-large;
  }
  
  .ChooseButton {
    font-size: xx-large;
  }
  
  #InputChoiceButton {
    position: absolute;
    left: 39%;
    top: 5%;
    height: fit-content;
    width: 10%;
  }

  #PlayChoiceButton {
    position: absolute;
    left: 50%;
    width: 9%;
    top: 5%;
    height: fit-content;
  }
  
  /* Wordle Input Components */
  #WordleInputComponent {
    color: white;
    font-size: x-large;
    width: 50%;
    height: 100%;
    left: 25%;
  }

  #pastGuessTable {
    position: absolute;
    left: 38%;
    top: 180px;
    font-size: x-large;
    width: fit-content;
    color: white;
  }
  
  #inputBox {
    position: absolute;
    left: 35%;
    top: 85px;
    font-size: large;
  }
  
  #inputSubmitButton {
    position: absolute;
    left: 35%;
    top: 130px;
    font-size: medium;
  }
  
  #inputPrompt {
    position: absolute;
    left: 40%;
    width: 20%;
    top: 0px;
    color: white;
    font-size: x-large;
  }
  
  #inputSubmitAllButton {
    position: absolute;
    left: 50%;
    top: 130px;
    font-size: medium;
  }

  /* #goToHomePageButton {
    position: absolute;
    left: 42.5%;
    top: 190px;
    font-size: medium;
  } */
  #goHomeInputButton {
    position: absolute;
    left: 75%;
    top: 130px;
    font-size: medium;
  }
  
  #enterGuessBox {
    position: absolute;
    left: 30%;
    top: -75px;
    font-size: x-large;
  }
  
  #WordleLinkComponent {
    position: absolute;
    left: 31%;
    top: -70px;
    width: 35%;
    font-size: xx-large;
    color: white;
  }

  #copyClipboardButton {
    position: absolute;
    left: 35%;
  }

  #goToHomePageButton {
    position: absolute;
    left: 60%;
  }
  
  #linkInputBox {
    position: absolute;
    left: 43%;
    font-size: x-large;
  }
  
  #linkInputText {
    position: absolute;
    left: 43%;
    font-size: x-large;
    color: white;
  }
  
  #openLinkButton {
    position: absolute;
    left: 57%;
    font-size: x-large;
  }
  
  #otherGoHomeButton {
    position: absolute;
    top: 140px;
    left: 46.5%;
    font-size: x-large;
  }
}